*.iml
/*.ipr
/*.iws
/*/generated
/Gemfile.lock
/_buildr.rb
/archive
/generated
/node_modules
/reports
/target
/tmp
/website/build/
/website/i18n
/website/node_modules
/website/translated_docs
/website/static/api
/yarn-error.log
