language: ruby
jdk:
- oraclejdk8
rvm:
- 2.3.1
node_js:
- v6.10.3
before_install:
- openssl aes-256-cbc -K $encrypted_dca3c32be0a4_key -iv $encrypted_dca3c32be0a4_iv
  -in etc/secrets -out ../secrets.tar -d
- "(cd ../ && tar xvf secrets.tar)"
- chmod 600 ../deploy
- eval `ssh-agent -s` && ssh-add ../deploy
install:
- nvm install v6.10.3
- nvm use v6.10.3
- npm install -g yarn
- yarn install
- rvm use 2.3.1
- gem install bundler
- bundle install
script: bundle exec buildr ci
after_success:
- bash <(curl -s https://codecov.io/bash)
git:
  depth: false
