pre, code, tt {
  font-family: Inconsolata, Consolas, Courier, "Courier New", "Liberation Mono", monospace;
}

pre {
  box-sizing: border-box;
  margin: 0 0 1.75em 0;
  width: 100%;
  padding: 10px;
  font-size: 0.9em;
  white-space: pre;
  overflow: auto;
  line-height: 1.4;
}

// This is inline code
code, tt {
  white-space: nowrap;
}

// This is the pattern of html emitted by rouge highlighter and it is already formatted
pre code {
  white-space: pre;
}
